Decode percent encodings for non-ASCII characters in `iunreserved` category on normalization

> IRIs are defined similarly to URIs in [[RFC3986](https://datatracker.ietf.org/doc/html/rfc3986)], but the class of unreserved characters is extended by adding the characters of the UCS (Universal Character Set, [[ISO10646](https://datatracker.ietf.org/doc/html/rfc3987#ref-ISO10646)]) beyond U+007F, subject to the limitations given in the syntax rules below and in [section 6.1](https://datatracker.ietf.org/doc/html/rfc3987#section-6.1).
>
> --- [RFC 3987 section 2.1. Summary of IRI Syntax](https://datatracker.ietf.org/doc/html/rfc3987#section-2.1)

> These IRIs should be normalized by decoding any percent-encoded octet sequence that corresponds to an unreserved character, as described in [section 2.3 of [RFC3986]](https://datatracker.ietf.org/doc/html/rfc3986#section-2.3).
>
> --- [RFC 3987 section 5.3.2.3. Percent-Encoding Normalization](https://datatracker.ietf.org/doc/html/rfc3987#section-5.3.2.3)

RFC 3987 says that percent-encoded octet sequences that corresponds to unreserved characters in IRI (**including non-ASCII characters in `iunreserved` category**) should be decoded.
However, current implementation of this crate just encodes ASCII unreserved characters and does not care `iunreserved` characters.

This blocks #18.